.slide{
    min-width: 100%;
    min-height: 100%;
}
.imagens{
    width: 50vh;
    height: 50vh;
    margin: auto;
}
.conteudo {
    min-width: 100%;
}
.titulo {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30pt;
    color: rgb(54, 49, 42);
    font-weight: bold;
}
.descricao{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20pt;
    color: rgb(94, 91, 91);
    font-weight: bold;
    text-align: center;

}
