<ion-content padding>

  <ion-slides pager="true" [options]="slideOpts" class="slide">
      <ion-slide>
        <div class="conteudo">
        <ion-img src="../../../assets/img/bemvindo.gif" class="imagens"></ion-img>
        
        <h1 class="titulo">Bem vindo ao APP de Vendas de Produtos</h1>
        <p class="descricao">Anuncie aqui de Forma Facil e Rápida!</p>
      </div>
      </ion-slide>
      <ion-slide>
          <div class="conteudo">
              <ion-img src="../../../assets//img/faturar.gif" class="imagens"></ion-img>
              
              <h1 class="titulo">Fature Mais</h1>
              <p class="descricao">Anuciando aqui você irá atingir um publico maior e conseguentemente faturará mais!</p>
            </div>
      </ion-slide>
      <ion-slide>
          <div class="conteudo">           
              <h1 class="titulo">OQUE VOCÊ ESTÁ ESPERANDO?</h1>
              <ion-img src="../../../assets/img/Clique.gif" class="imagens" (click)="irLogin()"></ion-img>
              <h1 class="titulo">E VAMOS NESSA</h1>
            </div>
      </ion-slide>
    </ion-slides>

</ion-content>
